[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=redshiftRunnerGTK
Exec=bash -c "killall redshiftRunnerGTK;if [ -f /usr/bin/redshiftRunnerGTK ]; then if ! pgrep -xc redshiftRunnerGTK;then redshiftRunnerGTK; fi; fi;"
Icon=/usr/share/icons/hicolor/scalable/apps/redshift.svg
Name=Redshift Runner
Comment=Redshift Runner
GenericName=Redshift GTK
